/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: CAT_FASTQ {
        publishDir = [
            path: { "${params.outdir}/1_FASTQ" },
            mode: params.publish_dir_mode,
            overwrite: params.publish_dir_overwrite,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTQC {
        publishDir = [
            path: { "${params.outdir}/2_QC" },
            mode: params.publish_dir_mode,
            overwrite: params.publish_dir_overwrite,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

        withName: TRIMGALORE {
        publishDir = [
            path: { "${params.outdir}/3_TRIM" },
            mode: params.publish_dir_mode,
            overwrite: params.publish_dir_overwrite,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

        withName: KALLISTO_QUANT {
        publishDir = [
            path: { "${params.outdir}/4_BAM" },
            mode: params.publish_dir_mode,
            overwrite: params.publish_dir_overwrite,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

        withName: BAM_COVERAGE {
        publishDir = [
            path: { "${params.outdir}/5_Bw" },
            mode: params.publish_dir_mode,
            overwrite: params.publish_dir_overwrite,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
        withName: TXIMPORT {
        publishDir = [
            path: { "${params.outdir}/7_Counts_folder" },
            mode: params.publish_dir_mode,
            overwrite: params.publish_dir_overwrite,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

        withName: DESEQ2_NORM_QC {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            overwrite: params.publish_dir_overwrite,
            pattern: "{6_Norm_folder/**,7_Counts_folder/**,8_Quality_folder/**,deseq2_normalized_counts.txt,deseq2_rlog_counts.txt,deseq2.dds.RData}",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: SAMTOOLS {
        publishDir = [
            enabled: false
        ]
    }

    withName: MULTIQC {
        ext.args   = { params.multiqc_title ? "--title \"${params.multiqc_title}\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            overwrite: params.publish_dir_overwrite,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
